body {
    background-color: #fff1e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.team-heading {
    background-color: #b7b7a4;
    border-radius: 0%;
    padding: 20px 0;
}

.employee-card {
    background-color: #cb997e;
    margin: 0.5em;
    border-width: 2px;
    border-color: black;
}

.card-body {
    background-color: #f0efeb;
}

.list-group-item {
    background-color: #a5a58d;
}

a {
    color: #eddcd2;
}

a:hover {
    color: #ddbea9;
}

